.ind{
    width: 60%;
    background: rgb(231, 219, 188);
    border-bottom-right-radius: solid;
    border-radius: 1Em;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 5px;
    text-align: center;
    
}